page-dashboard {

    @mixin linear-gradient($direction, $color-stops...) {
        background: nth(nth($color-stops, 1), 1);
        background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
        background: linear-gradient($direction, $color-stops);
    }

    .dashboard-header{
        min-height: 200px;
        @include  linear-gradient(to top right,#1d7bd3, #62bbef);
        margin: 0px;
        padding: 0px;
        width: 100%;
        ion-item {
            background-color: transparent !important;
            .item-inner{
                border-bottom: none !important;
            }
        }
        
        h1{
            color: #fff;
            font-size: 30px;
        }

        p{
            color: #000;
        }

        .color-white{
            color: #fff;
        }
    }
    
    

}
